div{
  background-color: grey;
  width: 500px;
  height: 610px;
  text-align: center;
  font-family: sans-serif;
}
#calculator{
  margin-top: 10px;
  height: 900px;
  width: 600px;
  background-color: grey;

 }

#calculator div{
  margin-top: 10px;
  display: inline;
  width: 125px;
  height: 125px;
  border: 3px solid black;
  text-align: center;
  font-size: 40px;
  float: left;
}

#solution_bar{
  float: left;
  background-color: white;
  width: 500px;
  height: 60px;

  border: 3px solid black;

}

h1 {
  font-family: sans-serif;
  margin-top: 50px;

}


